Package: matrix
Version: 1.0
Section: utils
Priority: optional
Architecture: amd64
Depends: libc6 (>= 2.31)
Maintainer: Ksenia Petrova
Description: Программа для проверки матриц через транспонирование
 Консольная программа на языке C++.
 Для двух заданных матриц A и B проверяет, можно ли получить матрицу B
 из матрицы A применением конечного числа операций транспонирования.


