name: CI Pipeline

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y g++

      - name: Build program
        run: |
          set -eux
          cd src
          make all

      - name: Run tests
        run: |
          set -eux
          chmod +x testing.sh
          ./testing.sh

      - name: Package deb
        run: |
          set -eux
          dpkg-deb --build . PR.deb
          mkdir -p artifacts
          mv PR.deb artifacts/

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: matrix-deb
          path: artifacts/

